@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <h3>Who are we?</h3>
    <p>We are an amazing company!</p>
    <img src="https://localhost:44384/Images/movie.jpg" alt="Cool movie" />
</div>
